.main {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cityList {
    width: 40%;
}

ol {
    white-space: nowrap;
    display: flex;
    overflow: auto;
}

li {
    border-right: 1px solid black;
    padding: 10px;
    list-style-type: none;
    display: inline-block;
}

li:hover {
    background: lightgray;
}